.header {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  height: 35px;
  background-color: #202020;
}
.header__menu {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.header__input {
  display: flex;
  align-items: center;
  width: 40%;
}
.header__input > input {
  flex: 1;
  height: 30px;
  background-color: #121212;
  border: none;
}
.header__search__icon {
  width: 55px !important;
  color: #ffffff;
  height: 30px !important;
  border: 1px solid gray;
  background-color: #323232;
}
.header__avatar {
  display: flex;
  align-items: center;
}
.header__material__icon {
  color: #ffffff;
  margin-right: 30px;
}
