.posts {
  margin-left: 15%;
  background-color: #040404;
  padding: 40px 20px;
  padding-bottom: 0;
}
.posts > h2 {
  color: white;
  margin-left: 5px;
  margin-bottom: 20px;
}
.posts__videocards {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 500px) {
  .posts {
    margin: auto;
    background-color: #040404;
    padding: 40px 20px;
    padding-bottom: 0;
  }
}
