.VideoCard {
  margin-bottom: 40px;
  width: 270px;
}
.VideoCard__Thumnill {
  height: 140px;
  width: 250px;
}
.VideoCard__info {
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
}
.VideoCard__text {
  flex-direction: row;
  margin-left: 15px;
}
.VideoCard__text > h4 {
  color: white;
  font-size: 14px;
  margin-bottom: 2px;
}
.VideoCard__text > p {
  font-size: 14px;
  color: gray;
}
